h3{
    font-size:18px;
    font-weight:400;
}
p{
    font-size:14px;
}
.navbar-toggler{
    background-color:white;
}
.navbar a .mac:hover, .navbar a:hover{
    color:#dc3545!important;
}
.mt-3{
    font-size:22px;
    color:#dc3545;
}
.svg-inline--fa{
    color:#dc3545;
}
.navbar .navbar-brand{
    color:rgb(255, 255, 255);
    font-size:20px;
}
.navbar-light .navbar-nav .nav-link{
    color:rgb(255, 255, 255) !important;
    text-transform:uppercase !important;
    font-size:14px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#dc3545!important;
    text-transform:uppercase !important;
}
#headerSection{
    background: url('../images/back.jpg') no-repeat center;
    height:auto;
}
#headerSection .overlay{
    background-color: rgba(0,0,0,.15);
}
#pop{
    background-color:#dc3545;
    height:auto;
    width: auto;
    height: auto;
    margin-top:25px;
    padding-top: 9px;
    padding-bottom:8px;
    border-radius: 15px;
}
#bar{
    background-color: rgb(243, 243, 243);
}

#ozellikler .container{
    margin-top: 80px;
    margin-bottom: 150px;
}
#galeri .col-md-3{
    padding-left:0;
    padding-right:0;
    text-align: center;
}
#galeri h4 {
    font-size:16px;
    font-weight: 300;
}
#galeri .fa {
    font-size:24px;
    margin-bottom:20px;
}
#galeri p{
    font-size:14px;
    font-weight: 300;
}
.imageContainer{
    position:relative;
    cursor:pointer; 
    width: 100%;
    height: 100%;
}
.imageOverlay {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height:100%;
    width: 100%;
    background-color: #dc3545;
    opacity: 0;
    transition: 1s ease;
}
.imageContainer:hover .imageOverlay {
    opacity: .6;
}
.imageText{
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.contact{

}
.input-group-addon{
    width:50px;
    border-radius:0;
    color:#fff;
    background-color:#ebe4e5 !important;
}
.card-body span{
    font-size: 15px;
    color:black;
}
.card-footer a{
    text-decoration: none; 
    color:white;
}
.card-title{
    font-size:20px;
    color:black;
}
.form-group label{
    font-size: 15px;
}
.bas{
    font-size: 22px;
    color:#dc3545;
}
hr{
    border-color:#dc3545;
    margin-top:-0px;
}
.section1 .btn{
    border:white solid 1px;
}
.detay .input-group-addon{
    width:40px;
}
.detay .btn-danger{
    width:65px;
}
.kayit h1{
    color:#dc3545;
}
.kayit .svg-inline--fa{
    color:white;
    font-size:26px;
}
.giris .svg-inline--fa{
    color:white;
    font-size:26px;
}
.giris h1{
    color:#dc3545;
}
.hak .container{
    margin-top:150px;
}
.hak h2{
    color:#dc3545;
}
.hak .haksol {
    width: 70%;
    height:70%;
    margin-left:130px;
}
.hak .my-auto{
    background: url('../images/back.jpg') no-repeat center;
    height:auto;
    text-align: center;
}
.display-4{
    color:rgb(10, 10, 9);
    margin-top:15%;
    font-size:65px;
}
.bitik{
    color:black;
    font-size: 23px;
}

@media screen and ( max-width:992px ) {
    .display-4{
        font-size:48px;
    }
    .bitik{
        color:black;
        font-size: 18px;
    }
    .btn{
        font-size:13px;
    }
    .feature{
        font-size:22px;
    }
    .feature p{
        font-size:12px;
    }
    .feature h3{
        font-size:15px;
    }
    #galeri .col-md-3{
        width:50%;
        height:50%;
    }
    .py-5 .row{
        font-size:10px;
    }
    #pop h3{
        font-size:16px;
    }
    .enn h4{
        font-size:20px;
    }
    .enn .col-lg-3{
        font-size:20px;
        width:60%;
        height:60%;
    }
    .enn .mr-1{
        font-size:16px;
    }
    #tumhalisahalar .mb-2{
        font-size:18px;
    }
    #tumhalisahalar label{
        font-size:15px;
    }
    .giris h1{
        font-size:27px;
    }
    .hak h1{
        font-size:22px;
    }
    .hak p{
        font-size:12px;
    }
    .hak h2{
        font-size:22px;
    }
    .kayit h1{
        font-size:22px;
    }

} 

@media screen and ( max-width:768px ){
    .display-4{
        font-size:38px;
    }
    .bitik{
        color:black;
        font-size: 15px;
    }
    .btn{
        font-size:10px;
    }
    .feature{
        font-size:15px;
    }
    .feature p{
        font-size:9px;
    }
    .feature h3{
        font-size:12px;
    }
    #galeri .col-md-3{
        width:25%;
        height:25%;
    }
    #pop h3{
        font-size:13px;
    }
    .enn h4{
        font-size:17px;
    }
    .enn .col-lg-3{
        font-size:16px;
        width:50%;
        height:50%;
    }
    .enn .mr-1{
        font-size:13px;
    }
    #tumhalisahalar .mb-2{
        font-size:15px;
    }
    #tumhalisahalar label{
        font-size:13px;
    }
    .giris h1{
        font-size:20px;
    }
    .hak h1{
        font-size:19px;
    }
    .hak p{
        font-size:10px;
    }
    .hak h2{
        font-size:19px;
    }
    .kayit h1{
        font-size:19px;
    }
} 
@media screen and ( max-width:576px ){
    .display-4{
        font-size:28px;
    }
    .bitik{
        color:black;
        font-size: 12px;
    }
    .btn{
        font-size:8px;
    }
    .feature{
        font-size:10px;
    }
    .feature p{
        font-size:7px;
    }
    .feature h3{
        font-size:9px;
    }
    #galeri .col-md-3{
        width:25%;
        height:25%;
    }
    #pop h3{
        font-size:10px;
    }
    .enn h4{
        font-size:12px;
    }
    .enn .col-lg-3{
        font-size:12px;
        width:50%;
        height:50%;
    }
    .enn .mr-1{
        font-size:10px;
    }
    #tumhalisahalar .mb-2{
        font-size:12px;
    }
    #tumhalisahalar label{
        font-size:10px;
    }
    .giris h1{
        font-size:15px;
    }
    .hak h1{
        font-size:16px;
    }
    .kayit h1{
        font-size:16px;
    }
    .hak p{
        font-size:10px;
    }
    .hak h2{
        font-size:16px;
    }
} 