.navbar{
    border-bottom: rgb(13, 19, 22) 1px solid;
}
.navbar .navbar-brand{
    color:rgb(0, 0, 0);
    font-size:24px;
}
.bg-dark{
    background-color: rgba(144, 255, 144, 1) !important;
}
.nav-link{
    color:rgb(255, 255, 255) !important;
    text-transform:uppercase !important;
    font-size:14px;
}
.nav-link:hover{
    color:rgb(0, 0, 0) !important;
    text-transform:uppercase !important;
}
#headerSection{
    background: url('../images/hali-saha-3-2.jpg') no-repeat center center fixed;
    background-size:cover;
    height:90vh;
}